.contactFormWrapper {
  min-width: 640px;
}

.contactFormWrapperInputsTree,
.contactFormWrapperInputsTwo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contactFormWrapperInputsTree,
.contactFormWrapperInputsTwo {
  margin-bottom: 1rem;
}

.contactFormWrapper :global(.vtex-textarea__input),
.contactFormWrapper :global(.vtex-dropdown__container),
.contactFormWrapper :global(.vtex-input-prefix__group) {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dedede;
  border-radius: 5px;
  width: 100%;
  opacity: 1;
}

.contactFormWrapper :global(.vtex-dropdown__caption),
.contactFormWrapper :global(.vtex-dropdown__container) option,
.contactFormWrapper :global(.vtex-styleguide-9-x-input)::placeholder,
.contactFormWrapper :global(.vtex-styleguide-9-x-input) {
  text-align: left;
  font-size: 14px;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.contactFormWrapper :global(.vtex-textarea__input) {
  width: 100vw;
  max-width: 700px;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.contactFormWrapper :global(.vtex-textarea__label) {
  text-align: left;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  font-size: 14px;
  margin-top: 1rem;
}

.contactFormWrapper :global(.vtex-styleguide-9-x-dropdown) {
  width: 100%;
}

.contactFormWrapper :global(.vtex-button) {
  background: #fc7f0b 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.21px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  border: none;
  padding: 0.75rem;
  min-width: 220px;
}
