.customLoginWrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
  padding: 80px 0px 76px;
  gap: 1rem;
}

.customLoginContainer h4,
.customRegisterWrapper h4 {
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #414141;
  opacity: 1;
  margin: 0px;
}

.customLoginContainer h4 {
  margin-bottom: 1.5rem;
}

.customLoginContainer,
.customRegisterWrapper {
  background: #fafafa 0% 0% no-repeat padding-box;
  padding: 22px 30px 34px;
  border: 1px solid #e3e3e3;
}

.customLoginContainer {
  background-color: #fff;
  border: none;
}

.customLoginContainer :global(.vtex-styleguide-9-x-input),
.customRegisterWrapper :global(.vtex-styleguide-9-x-input) {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e3e3e3;
  opacity: 1;
  border-radius: 0px;
  font-size: 14px;
}

.customLoginContainer :global(.vtex-input-prefix__group),
.customRegisterWrapper :global(.vtex-input-prefix__group) {
  border: none;
  border-radius: 0px;
}

.customLoginContainer :global(.vtex-input__label),
.customRegisterWrapper :global(.vtex-input__label) {
  text-align: left;
  letter-spacing: 0px;
  color: #414141;
  font-weight: 600;
  opacity: 1;
  font-size: 12px;
  margin-bottom: 15px;
}

.customRegisterWrapper :global(.vtex-input) {
  margin-bottom: 1.25rem;
  display: block;
}

.customRegisterWrapper p {
  text-align: center;
  letter-spacing: 0px;
  color: #414141;
  opacity: 1;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.customRegisterWrapper,
.customLoginContainer {
  width: 50%;
}

.customLoginContainer :global(.vtex-button),
.customRegisterWrapper :global(.vtex-button) {
  width: 100%;
  border: none;
  max-width: 220px;
  text-transform: capitalize;
  font-size: 14px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 0px;
  background: #fc7f0b 0% 0% no-repeat padding-box;
  border-radius: 22px;
  opacity: 1;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  margin: 0 auto;

  transition: all 0.3s ease-in-out;
}

.customLoginContainer :global(.vtex-button) {
  background-color: #014fcf;
  margin-top: 1.5rem;
}

.acessTokenContainer :global(.vtex-styleguide-9-x-input) {
  text-align: center;
}

.customRegisterWrapper :global(.vtex-button):hover {
  background-color: #014fcf;
}

.customLoginContainer :global(.vtex-button):hover {
  background-color: #fc7f0b;
}

@media screen and (max-width: 768px) {
  .customLoginWrapper {
    padding: 2rem 0px;
    flex-direction: column;
  }

  .customRegisterWrapper,
  .customLoginContainer {
    width: 100%;
  }

  .customLoginContainer {
    padding: 0px;
  }
}