.flexRow--product-content {
  max-width: 1300px;
  margin: 0 auto;
}

.buyTogetherContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 900px;
}

.buyTogetherContainer h2 {
  margin-bottom: 0px;
  font-size: 26px;
  font-weight: 300;
}

.buyTogetherItemImage {
  display: block;
}

.buyTogetherItemsScroll {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 2rem 0px;
}

.buyTogetherTotalsContainer {
  position: relative;
  top: -10%;
}

.buyTogetherItemsScroll::-webkit-scrollbar {
  display: block;
  height: 8px;
  width: 0px;
}

.buyTogetherTotalButton {
  margin-top: 2rem;
}

.buyTogetherTotalButton :global(.vtex-button) {
  background: #00c107;
  border-radius: 5px;
  border: none;
  opacity: 1;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  font-size: 14px;
  text-transform: capitalize;
  width: 100%;
  width: 100vw;
  max-width: 200px;
  transition: all 0.3s ease-in-out;
  min-width: 240px;
}

.buyTogetherTotalButton :global(.vtex-button):hover {
  background-color: #014fcf;
}

.buyTogetherItemsScroll::-webkit-scrollbar-track {
  background: transparent;
}

.buyTogetherItemsScroll::-webkit-scrollbar-thumb {
  background-color: black;
  border-right: none;
  border-left: none;
}

.buyTogetherLabel {
  position: relative;
  top: -10%;
  text-decoration: none;
  font-family: Archivo, sans-serif;
  font-size: 40px;
  color: #000;
  font-weight: 500;
  display: block;
}

.buyTogetherItemsScroll::-webkit-scrollbar-track-piece:end {
  background: #e6e6e6;
}

.buyTogetherItemsScroll::-webkit-scrollbar-track-piece:start {
  background: #e6e6e6;
}

.buyTogetherItemChechBox :global(.vtex-checkbox__label),
.buyTogetherItemUrl {
  text-decoration: none;
  font-family: Archivo, sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}

.buyTogetherItemChechBox {
  margin-top: 1rem;
}

.buyTogetherItemChechBox :global(.vtex-checkbox__inner-container) {
  border-radius: 0px;
  border-color: #e6e6e6;
}

.buyTogetherItemChechBox :global(.b--action-primary) {
  background-color: #948e84;
  border-color: #948e84;
}

.buyTogetherItemChechBox :global(.vtex__icon-check) {
  display: none;
}

.buyTogetherTotalsContainer h5 {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}

.buyTogetherTotal {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
}

.buyTogetherTotalsContainer h5 {
  margin-bottom: 0.5rem;
}

.buyTogetherItem {
  max-width: 200px;
  min-width: 200px;
}

.buyTogetherItemNameLabelPlus {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.buyTogetherItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.buyTogetherContainerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.buyTogetherContainerTitle {
  text-align: center;
  font-size: 25px;
  letter-spacing: 0.75px;
  color: #333333;
  opacity: 1;
}

.buyTogetherTotalsContainer {
  margin-left: 5rem;
}

.buyTogetherTotalInstallments {
  text-align: left;
  letter-spacing: 0px;
  color: #fc7f0b;
  opacity: 1;
  font-size: 14px;
}

@media (max-width: 1300px) {
  .buyTogetherContainer {
    max-width: 100%;
    padding: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .buyTogetherItemsScroll {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    padding: 0px;
  }

  .buyTogetherTotalsContainer {
    top: unset;
  }

  .buyTogetherContainer {
    flex-direction: column;
  }

  .buyTogetherItems,
  .buyTogetherContainerWrapper {
    flex-direction: column;
  }

  .buyTogetherItemNameLabelPlus {
    transform: rotate(90deg);
  }

  .buyTogetherTotalsContainer {
    margin: 0px;
  }
}
